---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<span
  class={`font-mono text-[10px] md:text-body leading-[1.6] tracking-widest uppercase text-color-text ${className || ""}`}
>
  <slot />
</span>
